@{

    ViewData["Title"] = "Home";
}



<div class="container-fluid d-flex">
    <div class="row">
        <div class="col-sm-8 col">
            <h1>Now Showing</h1>
            <hr />
            <div>
                <br />
                <a class="a-img" href="/ActiveMovie/ListView">
                    <img src="Content/Images/Dune.jpg" class="img-home" />
                </a>
                <p class="text-home">
                    Feature adaptation of Frank Herbert's science fiction novel
                    about the son of a noble family entrusted with the protection
                    of the most valuable asset and most vital element in the galaxy
                </p>
                <a class="a-star" href="https://www.imdb.com/title/tt1160419/?ref_=fn_al_tt_1" target="_blank">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                </a>
            </div>
            <hr />
            <div>
                <br />
                <a class="a-img" href="/ActiveMovie/ListView">
                    <img src="Content/Images/thebatman.jpg" class="img-home" />
                </a>
                <br />
                <p class="text-home">
                    When the Riddler, a sadistic serial killer,
                    begins murdering key political figures in Gotham, Batman is
                    forced to investigate the city's hidden corruption and
                    question his family's involvement.
                </p>
                <a class="a-star" href="https://www.imdb.com/title/tt1877830/?ref_=fn_al_tt_1" target="_blank">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </a>
            </div>
            <hr />
            <div>
                <h1>Upcoming Movies</h1>
                <hr />
                <br />
                <a class="a-img" href="/ActiveMovie/ListView">
                <img src="Content/Images/Avatar2.jpg" class="img-home" />
                </a>
                <br />
                <p class="text-home">
                    Jake Sully lives with his newfound family formed
                    on the planet of Pandora. Once a familiar threat
                    returns to finish what was previously started,
                    Jake must work with Neytiri and the army of the
                    Na'vi race to protect their planet.
                </p>
                <a class="a-star" href="https://www.imdb.com/title/tt1630029/?ref_=nv_sr_srsg_0" target="_blank">
                    <span class="fa fa-star unchecked"></span>
                    <span class="fa fa-star unchecked"></span>
                    <span class="fa fa-star unchecked"></span>
                    <span class="fa fa-star unchecked"></span>
                    <span class="fa fa-star unchecked"></span>
                </a>

            </div>
        </div>
        <div class="col-sm-4 col">
            <h3 class="reklam-head">Advertising</h3>
            <hr />
            <div>
                <p class="text-reklam">
                    <a class="a-img" href="https://www.w3schools.com/css/default.asp" target="_blank">
                        <img src="Content/Images/Reklam/CssGif.gif" class="img-reklam" />
                        Struggiling to learn Css? Come to us at W3School
                    </a>
                </p>

            </div>
            <div>
                <p class="text-reklam">
                    <a class="a-img" href="https://stackoverflow.com/" target="_blank">
                        <img src="Content/Images/Reklam/CompTrash.gif" class="img-reklam" />
                        Tr¤ffa Programmerare N&ra dig.
                        10 singel programmerare inom 5km just n0
                    </a>
                </p>
            </div>
            <hr />
        </div>
    </div>
</div>
