@{
    ViewData["Title"] = "Contact Us";
}
<div class="container-fluid vh-100 d-flex">

    <div class="col-sm col">
        <h1>Contact Us</h1>
        <hr />
        <div class="row">
            <div class="col-sm-4 pt-5">
                <h3>Info</h3>
                <hr />
                <ul class="align-content-sm-center">
                    <li>
            <p>King_Berra@@hotmail.com</p>
            </li>
            <li>
            <p>Berravägen 47</p>
            </li>
            <li>
            <p>0005332400</p>
            </li>
                </ul>
            </div>
            <div class="col-sm-8">
                <img class="img-fluid rounded" src="~/Content/Images/Berras.jpg">
            </div>
        </div>
        <br />
        <hr />
        <a target="_blank" href="https://lucid.app/lucidchart/86ee0567-2162-4ee2-97ed-951e819b92b4/edit?beaconFlowId=47BFE219CA1B46FA&invitationId=inv_10c53747-1873-437a-af01-b5fbc5b145a3&page=0_0#">
            <h4>ER-Diagram</h4></a>
        <hr/>
        <a target="_blank" href="https://trello.com/b/bBLo8LPm/project-1-berras-bio">
            <h4>Trello</h4></a>
        <img/>

    </div>

</div>
<script>
    
</script>